<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- remove favicon error -->
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Style Css -->
    <link rel="stylesheet" href="css/style.css">


    <title>Email API</title>


</head>
<body>
    
    <!-- script Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <!-- Vue JS app -->
    <div id="app">

        <ul id="email-list" v-if="emails.length == 10">

            <li id="email" v-for="email in emails">
                {{email}}
            </li>

        </ul>

    </div>


    <!-- script -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>